<%= form_with(model: bclc) do |form| %>
  <% if bclc.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bclc.errors.count, "error") %> prohibited this bclc from being saved:</h2>

      <ul>
        <% bclc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
